# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
black==22.1.0
blue==0.9.1
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.0
cramjam==2.10.0
et_xmlfile==2.0.0
fastparquet==2024.11.0
flake8==4.0.1
fsspec==2025.3.2
idna==3.10
iniconfig==2.1.0
mccabe==0.6.1
mypy_extensions==1.1.0
numpy==2.2.5
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.5.0
pyarrow==20.0.0
pycodestyle==2.8.0
pyflakes==2.4.0
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
six==1.17.0
tomli==2.2.1
tzdata==2025.2
urllib3==2.4.0
